:root {
    --black: #000000;
    --font-color: #eee;
}

@font-face {
    font-family: telegrama;
    src: url(../static/telegrama.ttf);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--font-color);
}

body a:visited {
    color: var(--font-color);
}

.defused {
    animation: blinker 1.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    color: #3fd10a;
}
  
@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.tftable {font-size:12px;color:#fbfbfb;width:100%;border-width: 1px;border-color: #686767;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#171515;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
.tftable tr {background-color:#2f2f2f;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
.tftable tr:hover {background-color:#171515;}

* {
    font-family: telegrama;
}

.container {
    margin: 1em;
    padding: 2px;
}

#clockdiv {
    font-size: 70pt;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    text-align: center;
}

.hidden {
    color: var(--black);
}

.hidden a:link {
    color: var(--black);
}

.hidden a:visited {
    color: var(--black);
}
  
.hidden a:hover {
    color: var(--font-color);
}
  
.hidden a:active {
    color: var(--black);
}