:root {
    --black: #000000;
    --font-color: #eee;
}

@font-face {
    font-family: telegrama;
    src: url(../static/telegrama.ttf);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--black);
    color: var(--font-color);
}

body a:visited {
    color: var(--font-color);
}

* {
    font-family: telegrama;
}

#clockdiv {
    font-size: 70pt;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    text-align: center;
}

.hidden {
    color: var(--black);
}

.hidden a:link {
    color: var(--black);
}

.hidden a:visited {
    color: var(--black);
}
  
.hidden a:hover {
    color: var(--font-color);
}
  
.hidden a:active {
    color: var(--black);
}